<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>About Me</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="navbar">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </div>
    <h2 class="section-title">ABOUT</h2>
    <div class="section-box">
         <p>I am a dedicated and adaptive developer from Munger, Bihar. With a strong foundation in Java and web development, I have worked on projects involving Spring Boot, JDBC, Servlets, JSP, and modern frontend tools.</p>
    <p>As a tech enthusiast, I have served as Technical Head of STS during my college days and participated in multiple development projects. I aim to continuously improve by learning emerging technologies like AI and machine learning.</p>
    </div>
</body>
</html>