<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Education</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="navbar">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </div>
    <h2 class="section-title">EDUCATION</h2>
    <div class="section-box">
        <ul>
        <li><strong>B.Tech in Computer Science</strong> – Lovely Professional University (2020 - 2024)</li>
        <li><strong>Intermediate (12th)</strong> – Munger College, Bihar Board</li>
        <li><strong>Matriculation (10th)</strong> – Munger High School</li>
    </ul>
    </div>
</body>
</html>