<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>My Portfolio</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
	 <div class="navbar">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </div>
    <h2 class="section-title">WELCOME</h2>
    <div class="section-box">
        <p>Hi, I'm <strong>Avinash Anand</strong>, a passionate software developer specializing in building full-stack web applications using Java and modern frameworks. Explore this site to know more about me!</p>
    </div>
</body>
</html>