<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Skills</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="navbar">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </div>
    <h2 class="section-title">SKILLS</h2>
    <div class="section-box">
       <ul>
        <li>Java, Spring Boot, JDBC, Servlets, JSP</li>
        <li>HTML, CSS, JavaScript, React.js</li>
        <li>Thymeleaf, Maven, Git, Eclipse IDE</li>
        <li>MySQL, MongoDB (basics)</li>
        <li>Problem Solving, Team Leadership, Fast Learning</li>
    </ul>
    </div>
</body>
</html>